@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
* {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "General Sans";
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
}

/* body::-webkit-scrollbar {
  width: 10px;
  height: 10px;              
} */

/* body::-webkit-scrollbar-track {
  background: black;
  border-radius: 3px;  
  width: 6px;       
}

body::-webkit-scrollbar-thumb {
  background-color: white;   
  border-radius: 6px;      
      
} */

/* Custom Cursor Styles */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference; /* Ensures the dot stays visible on different backgrounds */
}

.cursor-dot {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  z-index: 100;
}

.cursor-blur {
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  filter: blur(300px);
  z-index: 100;
}

.bounding {
  width: fit-content;
  overflow: hidden;
}

.bounding .boundingelem {
  transform: translateY(100%);
}
.contact-resume{
  width: fit-content;
  overflow: hidden;
}
.contact-resume a{
  transform: translateY(100%);

}

/* #main {
  width: 100%;
  background-color: black;
}

#hero {
  position: relative;
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: black;
}



#heading {
  margin-top: 0px;
  padding-top: 50px;
}

#heading h1 {
  margin-left: 100px;
  opacity: .9;
  line-height: 1;
  font-size: 12vw;
  text-transform: uppercase;
  font-weight: 900;
}

#heading #secondh1 {
  margin-left: 300px;
}

.blocktext {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: fit-content;
}

.blocktext h5 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  text-align: right !important;
}

#chhotiheadings {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin-top: 100px;
  padding-right: -50px;
}

#chhotiheadings h5 {
  text-transform: uppercase;
  margin-top: .5vw;
  font-size: 1vw;
  text-align: right;
} */

/* @font-face {
  font-family: 'gilroy';
  src: url('/path-to-your-font/gilroy.woff2') format('woff2'),
       url('/path-to-your-font/gilroy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

.font-gilroy {
  font-family: 'gilroy', sans-serif;
} */


#scroller::-webkit-scrollbar {
  display: none;
}

#scroller-in {
  animation-name: scroll;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4 {
  font-family: 'gilroy', sans-serif;
  margin-right: 20px;
  transition: all linear 0.3s;
  color: #000;
  -webkit-text-stroke: 2px #ffffff; /* Default stroke for larger screens */
}

#scroller h4:hover {
  color: #ffffff;
  -webkit-text-stroke: 2px #ffffff;
}

/* Media query for mobile devices */
@media (max-width: 640px) {
  #scroller h4 {
    -webkit-text-stroke: 1px #ffffff; /* Smaller stroke for mobile devices */
    font-size: 60px; /* Optionally reduce font size for mobile */
  }
  
  #scroller h4:hover {
    -webkit-text-stroke: 1px #ffffff; /* Ensure hover state matches mobile stroke */
  }
}



@keyframes scroll {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(-100%);
  }
}

#herofooter {
  padding: 0 2vw;
  width: 100%;
  position: absolute;
  bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#herofooter a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

#herofooter #iconset {
  display: flex;
  gap: 5px;
}

#herofooter .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #888;
}

/* #second {
  color: #fff;
  padding-right: 10vw;
  padding-top: 200px;
  background-color: black;
  width: 100%;
  height: 100vh;
}

.elem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3.5vw 3vw;
  padding-right: 0;
  border-top: 1px solid #888;
}

.elem h1 {
  text-transform: uppercase;
  font-size: 7.6vw;
  opacity: .7;
}

.elemlast {
  border-bottom: 1px solid #888;
}

.elem img {
  opacity: 0;
  pointer-events: none;
  height: 140%;
  z-index: 999;
  position: absolute;
  transform: translate(-50%, -50%);
} */
/* #about {
  display: flex;
  align-items: center;
  gap: 50px;
  color: #fff;
  padding: 30vw 10vw 10vw 0vw;
  padding-left: 30vw;
  width: 100%;
  background-color: black;
}

#textabout {
  width: 25rem;
}

#textabout h5 {
  text-transform: uppercase;
  opacity: .6;
  margin-bottom: 10px;
}

#textabout p {
  line-height: 1.7;
  margin-bottom: 30px;
}

#about img {
  width: 200px;
}

#textabout a {
  padding: 12px 22px;
  border: 1px solid #fff;
  border-radius: 100px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
} */

#subscribe {
  color: #fff;
  padding: 20px 30px;
  padding-bottom: 7vw;
  background-color: black;
}

#subscribe h5 {
  text-transform: uppercase;
  opacity: .6;
}

#subscribe h3 {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 10px;
}

#footer {
  color: #fff;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px;
}

#footerleft {
  display: flex;
  gap: 20px;
}

#footerright {
  display: flex;
  gap: 30px;
}

#footer a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}




html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; }




    /* #page14{
      position: relative;
      height: 60vh;
      width: 100vw;
      background-color: #000;
  }
  .page14-inner{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0vw 10vw;
      font-family: a;
      height: 33.3%;
      width: 100%;
      color: #fff;
      border-top: .5px solid #ffffff5c;
      border-bottom: .5px solid #ffffff48;
  }
  .page14-inner>i{
      font-weight: 100;
      font-size: 2.4vw;
      position: relative;
      z-index: 9999;
  }
  .page14-inner>h1{
      font-size: 3vw;
      font-weight: 100;
      position: relative;
      z-index: 9999;
  }
  
  .center14{
      height: 0%;
      width: 100%;
      background-color: #0a3cce;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      transition: all ease .5s;
  }
  
  
  .page14-inner:hover .center14{
      height: 100%;
  } */

  .skill-overlay {
    opacity: 0; /* Initial state */
    transition: opacity 0.3s ease; /* Transition effect */
  }
  
  .skill:hover .skill-overlay {
    opacity: 1; /* Show overlay on hover */
  }
  




  .main-section .latest-works-link {
    position: absolute;
    background: -webkit-gradient(linear, right top, left top, from(#1595b6), to(rgba(31, 38, 103, 0.9)));
    background: linear-gradient(to left, #1595b6, rgba(31, 38, 103, 0.9));
    font-weight: 700;
    padding: 0.5em 1em;
    font-size: 1.2em;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    bottom: 4em;
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
    z-index: 10;
  }
  @media (max-width: 300px) {
    .main-section .latest-works-link {
      font-size: 1em;
    }
  }
  .main-section .latest-works-link:hover {
    -webkit-transform: translate(-50%, 0) scale(1.1);
            transform: translate(-50%, 0) scale(1.1);
  }
  .main-section .latest-works-link:hover + .down-arrow {
    bottom: 1.75em;
  }
  .main-section .down-arrow {
    position: absolute;
    bottom: 2em;
    cursor: pointer;
    pointer-events: all;
    left: 50%;
    -webkit-transform: translate(-60%, 0) rotate(90deg);
            transform: translate(-60%, 0) rotate(90deg);
    -webkit-transition: bottom 0.25s ease-in-out;
    transition: bottom 0.25s ease-in-out;
  }
  .main-section .down-arrow:hover {
    bottom: 1.75em;
  }
  .main-section .latest-works-arrow {
    background: #444;
    width: 2px;
    height: 1.5em;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    pointer-events: all;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .main-section .latest-works-arrow:hover ~ .down-arrow {
    bottom: 1.75em;
  }
  
  @media (max-width: 650px) {
    .main-section {
      font-size: 0.9em;
    }
  }
  .work-section {
    /* background-color: var(--light);
    color: var(--dark); */
    position: relative;
    margin: 0 auto ;
    display: flex;
    flex-direction: column;
    gap: 5em;
    
  }
  .work-section .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1600px;
    /* margin-bottom: 3em; */
  }
  /* .work-section .project .ejs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.2em;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  } */
  /* .work-section .project ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 0.85em;
  } */
  /* .work-section .project ul li {
    border: 1px solid #ddd;
    padding: 0.4em 0.8em;
    border-radius: 50px;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
  } */
  .work-section .project .project-img {
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .work-section .project .project-img:nth-child(2) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  @media (max-width: 650px) {
    .work-section .project .project-img:nth-child(2) {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .work-section .project .project-img:nth-child(even) {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
    }
  }
  .work-section .project .project-img a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work-section .project .project-img .project-img-wrapper {
    max-width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .work-section .project .project-img .project-img-wrapper img {
    width: 100%;
    max-width: 400px;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    z-index: 6;
  }
  @media (max-width: 650px) {
    .work-section .project .project-img .project-img-wrapper .visit-site {
      top: initial;
      bottom: -2.5em;
      opacity: 1;
      z-index: 80;
      -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.25);
              box-shadow: 0 0px 5px rgba(0, 0, 0, 0.25);
    }
    .work-section .project .project-img .project-img-wrapper .visit-site::after {
      top: -6px;
      opacity: 0;
    }
  }
  @media (min-width: 650px) {
    .work-section .project .project-img .project-img-wrapper:hover img {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    .work-section .project .project-img .project-img-wrapper:hover .visit-site {
      top: -4em;
    }
  }
  @media (max-width: 650px) {
    .work-section .project .project-img .project-img-wrapper {
      cursor: default;
      max-width:400px;
    }
    .work-section .project .project-img .project-img-wrapper a:first-child {
      pointer-events: none;
    }
  }
  @media (max-width: 650px) {
    .work-section .project .project-img {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 2em;
    }
  }
  .work-section .project .project-details a {
    color: black;
  }
  .work-section .project .project-details span {
    font-size: 1.2em;
  }
  .work-section .project .project-details p {
    text-align: justify;
    color: #C0C0C0;
  }
  .work-section .project .circle-dot {
    width: 15px;
    height: 15px;
    /* background-color: var(--dark); */
    background-color: var(--light);
    border: 3px solid #2694d4;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 0.05s ease-in-out;
    transition: -webkit-transform 0.05s ease-in-out;
    transition: transform 0.05s ease-in-out;
    transition: transform 0.05s ease-in-out, -webkit-transform 0.05s ease-in-out;
    cursor: pointer;
    z-index: 2;
  }
  .work-section .project .circle-dot:hover {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  @media (max-width: 650px) {
    .work-section .project .circle-dot,
  .work-section .project .circle-extension {
      display: none;
    }
  }
  .work-section .project .circle-extension {
    width: 35%;
    height: 1px;
    background-color: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    z-index: 1;
  }
  .work-section .project .visit-site {
    background: #2694d4;
    color: var(--light);
    padding: 0.5em 1em;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: top 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: absolute;
    z-index: 5;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .work-section .project .visit-site svg {
    margin-left: 0.25em;
  }
  .work-section .project .visit-site::after {
    content: "";
    width: 12px;
    height: 12px;
    background: inherit;
    -webkit-transform: rotate(45deg) translate(-50%, 50%);
            transform: rotate(45deg) translate(-50%, 50%);
    position: absolute;
    left: 50%;
    bottom: -6px;
  }
  .work-section .project h3 {
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 0.2em;
  }
  .work-section .project div {
    width: 100%;
  }
  @media (max-width: 650px) {
    .work-section .project {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 0;
    }
  }
  .work-section .project0 {
    border-radius: 10px;
  }
  .work-section .project0 .circle-dot {
    border-color: white;
    border-width: 7px;
  }
  .work-section .project0 h3 {
    color: #C0C0C0;
  }
  .work-section .project0 h3 + span {
    color: #C0C0C0;
  }
  .work-section .project0 .visit-site {
    background-color: white;
  }
  .work-section .project0 .circle-extension {
    background-color: white;
  }
  .work-section .project1 {
    border-radius: 10px;
  }
  .work-section .project1 .circle-dot {
    border-color: white;
    border-width: 7px;
  }
  .work-section .project1 h3 {
    color: #C0C0C0;
  }
  .work-section .project1 h3 + span {
    color: #C0C0C0;
  }
  .work-section .project1 .visit-site {
    background-color: white;
  }
  .work-section .project1 .circle-extension {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
            background-color: white;
  }
  .work-section .project2 .circle-dot {
    border-color: white;
    border-width: 7px;
  }
  .work-section .project2 h3 {
    color: #C0C0C0;
  }
  .work-section .project2 h3 + span {
    color: #C0C0C0;
  }
  .work-section .project2 .visit-site {
    background-color: white;
  }
  .work-section .project2 .circle-extension {
    background-color: white;
  }
  .work-section .project3 .circle-dot {
    border-color: #2694d4;
  }
  .work-section .project3 h3 {
    color: #2694d4;
  }
  .work-section .project3 h3 + span {
    color: #2694d4;
  }
  .work-section .project3 .circle-extension {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    background-color: #2694d4;
  }
  .work-section .verticle-line .circle-dot {
    border-color: #47afa1;
  }
  .work-section .vertical-line {
    width: 2px;
    height: auto;
    position: absolute;
    top: -2em;
    bottom: -2em;
    background: white;
    opacity: 0.5;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: 0;
  }
  @media (max-width: 650px) {
    .work-section .vertical-line {
      display: none;
    }
  }
  .work-section .vertical-line2 {
    width: 2px;
    position: absolute;
    top: -3em;
    bottom: 0;
    background: #eee;
    left: 100%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: 0;
  }
  
  @media (max-width: 650px) {
    .work-section {
      font-size: 0.9em;
      gap:3em;
      margin: 20px;
    }
    .work-section h2 {
      font-size: 2em;
      margin-bottom: 1em;
    }
    .work-section .project h3 {
      font-size: 2.5em;
      font-weight: 800;
      margin-bottom: 0.2em;
    }
    .work-section .project .project-details span {
      font-size: 1.1em;
      text-align: justify;
    }
    .work-section .project .project-details p {
      text-align: justify;
      font-size: small;
    }
  }





